In [3]:
# Đọc thư viện và module
import pandas as pd
import numpy as np

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/ionosphere/ionosphere.data"
df = pd.read_csv(url, header=None)

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [ ]:
df = df[df.columns[:-1]]
df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.20332,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,0.57528,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,1.00000,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,0.03286,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697

In [ ]:
array = df.values
array

array([[ 1.     ,  0.     ,  0.99539, ..., -0.54487,  0.18641, -0.453  ],
       [ 1.     ,  0.     ,  1.     , ..., -0.06288, -0.13738, -0.02447],
       [ 1.     ,  0.     ,  1.     , ..., -0.2418 ,  0.56045, -0.38238],
       ...,
       [ 1.     ,  0.     ,  0.94701, ...,  0.00442,  0.92697, -0.00577],
       [ 1.     ,  0.     ,  0.90608, ..., -0.03757,  0.87403, -0.16243],
       [ 1.     ,  0.     ,  0.8471 , ..., -0.06678,  0.85764, -0.06151]])

In [ ]:
point1 = array[:, 0]
point2 = array[:, 1]
point3 = array[:, 2]

Tính chuẩn 1 (p = 1)

In [ ]:
dist1_2 = np.linalg.norm(point1 - point2, 1)
dist1_3 = np.linalg.norm(point1 - point3, 1)

In [ ]:
print('Dist(0, 1) = ', dist1_2)
print('Dist(0, 2) = ', dist1_3)

Dist(0, 1) =  313.0
Dist(0, 2) =  121.88901

In [ ]:
len(array)

351

In [ ]:
for i in range(1, array.shape[1]):
    dist1 = np.linalg.norm(array[:, 0] - array[:, i], 1)
    print('Dist1(0, {0}) = '.format(i), dist1)

Dist1(0, 1) =  313.0
Dist1(0, 2) =  121.88901
Dist1(0, 3) =  325.42547
Dist1(0, 4) =  140.02517
Dist1(0, 5) =  294.32296
Dist1(0, 6) =  149.91663
Dist1(0, 7) =  295.10451
Dist1(0, 8) =  165.34132
Dist1(0, 9) =  281.34776999999997
Dist1(0, 10) =  183.85989
Dist1(0, 11) =  282.58079999999995
Dist1(0, 12) =  206.31878
Dist1(0, 13) =  298.2118
Dist1(0, 14) =  216.20014
Dist1(0, 15) =  304.03255
Dist1(0, 16) =  214.9359
Dist1(0, 17) =  335.7695
Dist1(0, 18) =  212.85424999999998
Dist1(0, 19) =  345.43267000000003
Dist1(0, 20) =  220.81989
Dist1(0, 21) =  344.08813999999995
Dist1(0, 22) =  223.7711
Dist1(0, 23) =  360.27442
Dist1(0, 24) =  215.95673
Dist1(0, 25) =  353.98659
Dist1(0, 26) =  192.88408000000004
Dist1(0, 27) =  371.4077
Dist1(0, 28) =  212.16574
Dist1(0, 29) =  354.10789
Dist1(0, 30) =  219.26767999999998
Dist1(0, 31) =  345.33160999999996
Dist1(0, 32) =  212.37336000000002
Dist1(0, 33) =  325.91747999999995

Tính chuẩn 2 (p = 2)

In [ ]:
dist1_2 = np.linalg.norm(point1 - point2, 2)
dist1_3 = np.linalg.norm(point1 - point3, 2)

In [ ]:
print('Dist(0, 1) = ', dist1_2)
print('Dist(0, 2) = ', dist1_3)

Dist(0, 1) =  17.69180601295413
Dist(0, 2) =  10.480974592007177

In [ ]:
for i in range(1, array.shape[1]):
    dist2 = np.linalg.norm(array[:, 0] - array[:, i], 2)
    print('Dist2(0, {0}) = '.format(i), dist2)

Dist2(0, 1) =  17.69180601295413
Dist2(0, 2) =  10.480974592007177
Dist2(0, 3) =  18.834666014737294
Dist2(0, 4) =  11.851165928814769
Dist2(0, 5) =  17.51231089402538
Dist2(0, 6) =  11.661697069865088
Dist2(0, 7) =  18.30636064540683
Dist2(0, 8) =  12.39479727163781
Dist2(0, 9) =  17.27505909852409
Dist2(0, 10) =  14.193091731236713
Dist2(0, 11) =  17.386612245391564
Dist2(0, 12) =  15.494376781445585
Dist2(0, 13) =  17.93951203321317
Dist2(0, 14) =  16.496639629124473
Dist2(0, 15) =  18.268891008413732
Dist2(0, 16) =  15.843284214044763
Dist2(0, 17) =  19.8346654960753
Dist2(0, 18) =  15.59863813671886
Dist2(0, 19) =  20.502973651475536
Dist2(0, 20) =  15.782654776212397
Dist2(0, 21) =  20.473739196473126
Dist2(0, 22) =  16.07006137211056
Dist2(0, 23) =  21.376484545317545
Dist2(0, 24) =  15.33314124541022
Dist2(0, 25) =  20.814663748182433
Dist2(0, 26) =  13.892668511225624
Dist2(0, 27) =  21.57307052178711
Dist2(0, 28) =  15.022563960795773
Dist2(0, 29) =  20.84441965246574
Dist2(0, 30) =  15.147948292029518
Dist2(0, 31) =  20.46909353665912
Dist2(0, 32) =  14.635571754714606
Dist2(0, 33) =  19.48531420237816

Tính chuẩn vô cùng (p = inf)

In [ ]:
dist1_2 = np.linalg.norm(point1 - point2, np.inf)
dist1_3 = np.linalg.norm(point1 - point3, np.inf)

In [ ]:
print('Dist(0, 1) = ', dist1_2)
print('Dist(0, 2) = ', dist1_3)

Dist(0, 1) =  1.0
Dist(0, 2) =  2.0

In [ ]:
for i in range(1, array.shape[1]):
    distInf = np.linalg.norm(array[:, 0] - array[:, i], np.inf)
    print('DistInf(0, {0}) = '.format(i), distInf)

DistInf(0, 1) =  1.0
DistInf(0, 2) =  2.0
DistInf(0, 3) =  2.0
DistInf(0, 4) =  2.0
DistInf(0, 5) =  2.0
DistInf(0, 6) =  2.0
DistInf(0, 7) =  2.0
DistInf(0, 8) =  2.0
DistInf(0, 9) =  2.0
DistInf(0, 10) =  2.0
DistInf(0, 11) =  2.0
DistInf(0, 12) =  2.0
DistInf(0, 13) =  2.0
DistInf(0, 14) =  2.0
DistInf(0, 15) =  2.0
DistInf(0, 16) =  2.0
DistInf(0, 17) =  2.0
DistInf(0, 18) =  2.0
DistInf(0, 19) =  2.0
DistInf(0, 20) =  2.0
DistInf(0, 21) =  2.0
DistInf(0, 22) =  2.0
DistInf(0, 23) =  2.0
DistInf(0, 24) =  2.0
DistInf(0, 25) =  2.0
DistInf(0, 26) =  2.0
DistInf(0, 27) =  2.0
DistInf(0, 28) =  2.0
DistInf(0, 29) =  2.0
DistInf(0, 30) =  2.0
DistInf(0, 31) =  2.0
DistInf(0, 32) =  2.0
DistInf(0, 33) =  2.0

In [1]:
# Đọc thư viện và module
import pandas as pd
import numpy as np

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/kddcup99-mld/kddcup.data.gz"
df = pd.read_csv(url, header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,215,45076,0,0,0,0,...,0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,normal.
1,0,tcp,http,SF,162,4528,0,0,0,0,...,1,1.0,0.0,1.00,0.00,0.0,0.00,0.0,0.0,normal.
2,0,tcp,http,SF,236,1228,0,0,0,0,...,2,1.0,0.0,0.50,0.00,0.0,0.00,0.0,0.0,normal.
3,0,tcp,http,SF,233,2032,0,0,0,0,...,3,1.0,0.0,0.33,0.00,0.0,0.00,0.0,0.0,normal.
4,0,tcp,http,SF,239,486,0,0,0,0,...,4,1.0,0.0,0.25,0.00,0.0,0.00,0.0,0.0,normal.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898426,0,tcp,http,SF,212,2288,0,0,0,0,...,255,1.0,0.0,0.33,0.05,0.0,0.01,0.0,0.0,normal.
4898427,0,tcp,http,SF,219,236,0,0,0,0,...,255,1.0,0.0,0.25,0.05,0.0,0.01,0.0,0.0,normal.
4898428,0,tcp,http,SF,218,3610,0,0,0,0,...,255,1.0,0.0,0.20,0.05,0.0,0.01,0.0,0.0,normal.
4898429,0,tcp,http,SF,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.0,0.01,0.0,0.0,normal.
4898430,0,tcp,http,SF,219,1098,0,0,0,0,...,255,1.0,0.0,0.14,0.05,0.0,0.01,0.0,0.0,normal.

Xóa cột 1, 2, 3, 41

In [3]:
df_1 = df.drop([1, 2, 3, 41], axis=1)
df_1

,0,4,5,6,7,8,9,10,11,12,...,31,32,33,34,35,36,37,38,39,40
0,0,215,45076,0,0,0,0,0,1,0,...,0,0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0
1,0,162,4528,0,0,0,0,0,1,0,...,1,1,1.0,0.0,1.00,0.00,0.0,0.00,0.0,0.0
2,0,236,1228,0,0,0,0,0,1,0,...,2,2,1.0,0.0,0.50,0.00,0.0,0.00,0.0,0.0
3,0,233,2032,0,0,0,0,0,1,0,...,3,3,1.0,0.0,0.33,0.00,0.0,0.00,0.0,0.0
4,0,239,486,0,0,0,0,0,1,0,...,4,4,1.0,0.0,0.25,0.00,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898426,0,212,2288,0,0,0,0,0,1,0,...,3,255,1.0,0.0,0.33,0.05,0.0,0.01,0.0,0.0
4898427,0,219,236,0,0,0,0,0,1,0,...,4,255,1.0,0.0,0.25,0.05,0.0,0.01,0.0,0.0
4898428,0,218,3610,0,0,0,0,0,1,0,...,5,255,1.0,0.0,0.20,0.05,0.0,0.01,0.0,0.0
4898429,0,219,1234,0,0,0,0,0,1,0,...,6,255,1.0,0.0,0.17,0.05,0.0,0.01,0.0,0.0
4898430,0,219,1098,0,0,0,0,0,1,0,...,7,255,1.0,0.0,0.14,0.05,0.0,0.01,0.0,0.0

In [4]:
df.shape

(4898431, 42)

### Bin

In [5]:
s = []
for i in range(df.shape[1]):
  if i not in (1, 2, 3, 41):
    df_1[i + 41] = pd.qcut(df_1[i], q=50, duplicates='drop')

In [6]:
df_1.shape

(4898431, 76)

In [7]:
df_1

,0,4,5,6,7,8,9,10,11,12,...,72,73,74,75,76,77,78,79,80,81
0,0,215,45076,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(-0.001, 1.0]","(-0.001, 0.01]","(-0.001, 0.01]","(-0.001, 0.01]","(-0.001, 0.01]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
1,0,162,4528,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(-0.001, 1.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.5, 1.0]","(-0.001, 0.01]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
2,0,236,1228,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(1.0, 3.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(-0.001, 0.01]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
3,0,233,2032,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(1.0, 3.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(-0.001, 0.01]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
4,0,239,486,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(3.0, 4.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(-0.001, 0.01]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898426,0,212,2288,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(243.0, 255.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(0.04, 0.06]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
4898427,0,219,236,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(243.0, 255.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(0.04, 0.06]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
4898428,0,218,3610,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(243.0, 255.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(0.04, 0.06]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
4898429,0,219,1234,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(243.0, 255.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(0.04, 0.06]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"
4898430,0,219,1098,0,0,0,0,0,1,0,...,"(-0.001, 7.0]","(243.0, 255.0]","(0.93, 1.0]","(-0.001, 0.01]","(0.12, 0.5]","(0.04, 0.06]","(-0.001, 0.08]","(-0.001, 0.01]","(-0.001, 0.13]","(-0.001, 0.05]"

## Similarity

Common

In [12]:
def intersection(x, y):
    t = []
    for i in range(df.shape[1]):
      if (i not in (1, 2, 3, 41)):
        if (x[i+41] == y[i+41]):
            t.append(x[i])
    return len(t)

intersection(df_1.loc[0], df_1.loc[1])

31

Similarity

In [13]:
def similarity(x,y):
    return float(intersection(x, y)/df.shape[1])

In [14]:
similarity(df_1.loc[0], df_1.loc[1])

0.7380952380952381

In [25]:
s = []
for i in range(1, df.shape[0]):
  t = similarity(df_1.loc[0], df_1.loc[i])
  s.append(t)

In [26]:
s[:10]

[0.7380952380952381,
 0.7619047619047619,
 0.7142857142857143,
 0.7142857142857143,
 0.7142857142857143,
 0.7142857142857143,
 0.7142857142857143,
 0.6904761904761905,
 0.6904761904761905,
 0.7380952380952381]

## IDF

In [101]:
from collections import Counter
MAX_SIZE = 1000000
def IOF(x, y):
    p = 0
    for i in range(df.shape[1]):
        if (i not in (1, 2, 3, 41)):
          cnt = Counter(df_1.loc[:MAX_SIZE, i]) # tần suất xuất hiện
          if (x[i+41] == y[i+41]): # common
            p = p + (cnt[x[i]]/len(df_1.loc[:MAX_SIZE, i]))
          
    return (1/pow(p,2)/df.shape[1])

In [102]:
IOF(df_1.loc[0], df_1.loc[1])

3.497783835218293e-05

In [103]:
for i in range(5):
    print(IOF(df_1.loc[0], df_1.loc[i]))

3.3162185766285606e-05
3.497783835218293e-05
3.4256574226234845e-05
3.4977886615438165e-05
3.4977886615438165e-05